<div class="card" style="width: 18rem; margin: auto; text-align: center; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 0.25rem; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);padding-bottom: 10px;">
    <div class="card-body">
      <h5 class="card-title" style="color: #343a40;">Juego de la Serpiente!</h5>
      <p class="card-text" style="color: #6c757d;">El objetivo del juego es controlar una serpiente que se mueve por la pantalla, comiendo comida para crecer y evitando chocar con las paredes o con su propio cuerpo. ¡Intenta conseguir la mayor puntuación posible!</p>
      <a  [routerLink]="['/serpiente']" style="background-color: green; color: white;">Jugar Ahora</a>
    </div>
  </div>
  
  <div class="card" style="width: 18rem; margin: auto; text-align: center; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 0.25rem; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin-top: 10px;padding-bottom: 10px;">
    <div class="card-body">
      <h5 class="card-title" style="color: #343a40;">El Mario bross!</h5>
      <p class="card-text" style="color: #6c757d;">En construccion</p>
      <a  [routerLink]="['/mariobross']" style="background-color: green; color: white;">Jugar Ahora</a>
    </div>
  </div>