<app-loading *ngIf="isLoading"></app-loading>

<div class="row animated fadeIn" *ngIf="!isLoading">
    <div class="col-2">
        <img [src]="artista.images | noImage" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3>{{artista.name}}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">
                Ir a la página del artista
            </a>
        </p>
        <span class="badge bg-primary" *ngFor="let genero of artista.genres">{{genero}}</span>
        <br>
        <span class="badge bg-secondary">Popularidad: {{artista.popularity}}</span>
    </div>
    <div class="col-4 text-right">
        <button class="btn btn-outline-danger" (click)="backClicked()">
            Regresar
        </button>
    </div>
</div>

<div class="row m-5">
    <div class="col">
        <div class="table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Canción</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of topTracks">
                    <td>
                        <img [src]="track.album.images | noImage" class="img-thumb">
                    </td>
                    <td>{{track.album.name}}</td>
                    <td>{{track.name}}</td>
                    <td>
                        <!-- <audio [src]="track.preview_url" controls></audio> -->
                        <iframe [src]="'https://open.spotify.com/embed?uri='+track.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </div>
    </div>
</div>